body
{
    background-image: linear-gradient(to bottom, #ffffff, #c6feff);
    min-height: 100vh;
}

h2
{
    color:red;
    font-family: Verdana;
}

p
{
    font-family: Verdana;
    overflow-wrap: break-word;
}

#p1
{
    display: inline-block;
    border: 1px solid black;
}